.link {
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.link_style_outline {
  border-radius: 62px;
  border: 1px solid #3057a2;
  padding: 7px 12px;
}
