.transformation {
  box-sizing: border-box;
  max-width: 1366px;
  width: 100%;
  padding: 85px 72px 100px 72px;
  overflow: hidden;
}

.transformation__title-container {
  max-width: 806px;
  margin: 0 0 54px 0;
}

.transformation__title {
  display: inline;
  margin-right: 15px;
}

.transformation__link {
  width: 280px;
  display: inline-block;
}

.transformation__steps-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.transformation__steps-container::after {
  content: url("../../images/airplane.png");
  position: absolute;
  bottom: -5px;
  right: -64px;
}

.transformation__slider-controls {
  display: none;
}



@media screen and (max-width: 800px) {
  .transformation {
    padding: 85px 40px 100px 40px;
  }
}

@media screen and (max-width: 680px) {
  .transformation {
    padding: 20px 20px 100px 20px;
  }
  .transformation__link {
    margin-top: 12px;
    width: 100%;
  }
  .transformation__title-container {
    margin: 0 0 150px 0;
  }
  .transformation__slider-controls {
    justify-content: center;
    margin: 28px 0 0 0;
  }
  .transformation__steps-container::after {
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
  }
}
