.intro {
  width: 100%;
  background: #e9ded4;
  display: flex;
  justify-content: center;
  min-height: 700px;
}

.intro__logo {
  margin: 0 0 62px 0;
}
.intro__container {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  max-width: 1366px;
  width: 100%;
  padding: 26px 72px 0 72px;

}

.intro__background-overlay {
  position: absolute;
  background: url("../../images/overlay.jpg");
  background-position-y: bottom;
  height: 700px;
  width: 100%;
  mix-blend-mode: color-burn;
  z-index: 3;
  background-position-x: center;
}

.intro__background {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 1628px;
  height: 700px;
  background:url("../../images/city.png"), url("../../images/chess_1.png"), url("../../images/chess_2.png"), url("../../images/circle.svg");
  background-repeat: no-repeat;
  background-position:0 100%, 848px 270px, 1181px 164px, 734px -47px;
}

.intro__background-chess {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  width: 1628px;
  height: 700px;
  background: url("../../images/chess_4.png"), url("../../images/chess_3.png");
  background-repeat: no-repeat;
  background-position: 955px 482px, 1359px 558px;
}

.intro__container-text {
  position: relative;
  width: 542px;
  z-index: 1;
}

.intro__title {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #313131;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  margin: 0 0 24px 0;
  padding: 0;
}

.intro__subtitle {
  color: #313131;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 40px 0;
  padding: 0;
}

.intro__container-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.intro__group-buttons {
  display: flex;
  gap: 16px;
}
