.advertisement {
  box-sizing: border-box;
  max-width: 1366px;
  padding: 80px 72px 17px 72px;
  width: 100%;
  display: flex;
  gap: 37px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advertisement__container {
  display: flex;
  gap: 64px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advertisement__container_style_collage {
  gap: 18px;
}

.advertisement__image {

  overflow: hidden;
  flex-shrink: 0;
}

.advertisement__image_style_ellipse {
  border-radius: 50% 50%;
}

.advertisement__image_style_collage {
  margin: 0 0 0 -30px;
}

.advertisement__paragraph {
  overflow: hidden;
  color: #313131;
  font-family: 'Merriweather', serif;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48.6px;
  text-transform: uppercase;
  max-width: 764px;
  margin: 0;
  padding: 0;
  /* display: contents; Стиль для мобильной версии */
}

.advertisement__text {

}

.advertisement__paragraph_position_right {
  max-width: 704px;
  align-self: start;
  margin: 11px 0 60px 0;
}

.advertisement__table {
  margin: 0 0 48px 0;
}
