.footer {
  width: 100%;
  background: #e9ded4;
  display: flex;
  justify-content: center;
}

.footer__container {
  max-width: 1366px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 72px 72px 72px;
}

.footer__text {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .footer__container {
    padding: 24px 40px 72px 40px;
  }
}
